body{
    background: rgb(80, 80, 248);
    font: 15pt Arial;
} 
header{
    color:white;
    text-align: center;

}
h1{
    color:white;
    text-align: center;
}
p{
    color:white;
    text-align: center;
}


button:hover{
    background-color: #656ff5;
}




div{
    text-align: center;
}
footer{
    color:white;
    text-align: center;
    font-style: italic;
}
section#redes-sociais img {
    
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.329);
    width:60px ;
    height: 60px;
    margin: 15px;
}
section#portifolio img{
    width:700px ;
    height: 400px;
    
}
